<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<appSettings>
		<add key="filePath" value="C:\Users\abhyudaya\source\repos\TournamentTracker"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournaments" connectionString="server=ABHYUDAYA-PC;database=Tournament;
			 Trusted_Connection=True;MultipleActiveResultSets=True"/>  
	</connectionStrings>
</configuration>